# Basics ======================================================================
*.DS_Store

# Python ======================================================================

# python3
*__pycache__/
# python2
*.pyc

# IDE Project Files ===========================================================

# VS Code
.vscode/

# IntelliJ
.idea/