# Basics ======================================================================
*.DS_Store

# Python ======================================================================

# python3
*__pycache__/
# python2
*.pyc